/* Media queries: optimize for different screen widths. */

/* First breakpoint: all cells, does not fit into one row: break according to Grouping1 */
@media (max-width: 1200px) {

  /* inner wrappers vertical */
  .trFluid_Grouping1 {
    /* Let the wrapper flex vertically, so we get 2 rows */
    flex-direction: column;
    width: var(--cell-width);
  }

  /* can't have the children grow, since this means vertical growth 
       but let them grow horizontally, 100% to fill the wrapper */
  .trFluid_Grouping1 div {
    flex-grow: 0;
    width: 100%;
  }
}

/* Second breakpoint: break according to Grouping2 */
@media (max-width: 800px) {

  /* inner wrappers vertical */
  .trFluid_Grouping2 {
    /* Let the wrapper flex vertically, so we get more rows */
    flex-direction: column;
    width: var(--cell-width);
  }

  /* can't have the children grow, since this means vertical growth 
       but let them grow horizontally, 100% to fill the wrapper */
    .trFluid_Grouping2 div {
    flex-grow: 0;
    width: 100%;
  }
}

/* Final breakpoint: collapse all cells into one single column 
   break according to trFluid */
@media (max-width: 600px) {

  /* wrap the main row container */
  .trFluid {
    /* Let the wrapper flex vertically, so we get more rows */
    flex-direction: column;
  }

  .trFluid div {
    flex-grow: 0;
    width: 100%;
  }

  /* force the num cells to left-align to look better */
  .tdFluent.num {
    text-align: left;
  }
}